/* barlow-regular - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-700 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/barlow-v12-latin-700.woff2") format("woff2"), url("../fonts/barlow-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fraunces-900 - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/fraunces-v24-latin-900.woff2") format("woff2"), url("../fonts/fraunces-v24-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.container {
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px;
}

.header {
  max-width: 100%;
}
.header__logo {
  width: 203px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: 5;
}
.header__all-link {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #83888F;
  padding: 10px 15px;
  border-radius: 10px;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.header__menu-box-items + .header__menu-box-items {
  margin-left: 32px;
}
.header__menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__all-link:hover {
  background-color: #333D4B;
  color: white;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
.header__all-link:active {
  background-color: #FDD6BA;
  color: white;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.hero {
  margin-top: 115px;
}
.hero__container {
  background-image: url("../../img/hero-bgimage.jpg");
  background-repeat: no-repeat;
  border-radius: 10px;
}
.hero__all-text {
  max-width: 445px;
  margin-top: 100px;
  margin-left: 85px;
  margin-bottom: 137px;
}
.hero__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
}
.hero__text {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
  margin-top: 32px;
}

.version {
  background-color: #2C343E;
}
.version__container {
  margin-top: 160px;
}
.version__top {
  margin: 90px;
}
.version__top-box {
  background-color: #FDD6BA;
  max-width: 760px;
  height: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.version__top-item {
  background-color: transparent;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  border: 2px solid #0E8784;
  display: inline-block;
}
.version__main-item {
  width: 285px;
  margin-bottom: 100px;
}
.version__main-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.version__main-title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #FEFCF7;
  margin: 40px 0;
}
.version__main-text {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  margin-bottom: 20px;
}
.version__main-title::before {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
  display: block;
  margin: 0 auto;
  margin-bottom: 38px;
}
.version__main-title:nth-child(1)::before {
  content: "01";
}
.version__main-title:nth-child(2)::before {
  content: "02";
}
.version__main-title:nth-child(3)::before {
  content: "03";
}
.drink__page-left-items {
  padding: 24px 0;
  border-bottom: 1px solid #83888F;
}
.drink__page-left {
  padding-left: 78px;
  width: 295px;
}
.drink__number1 {
  color: #0E8784;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin-right: 20px;
}
.drink__number {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-right: 20px;
}
.drink__page-left-link1 {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
}
.drink__page-left-link {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
}
.drink__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.drink__form-label {
  width: 228px;
  display: inline-block;
  background-color: #F4F1EB;
  border-radius: 8px;
  padding: 32px 28px 84px 28px;
  margin-top: 56px;
}
.drink__form-label5 {
  width: 228px;
  display: inline-block;
  background-color: #F4F1EB;
  border-radius: 8px;
  padding: 32px 28px 84px 28px;
  margin-top: 56px;
}
.drink__form-label2 {
  width: 228px;
  display: inline-block;
  background-color: #F4F1EB;
  border-radius: 8px;
  padding: 32px 28px 84px 28px;
  margin-top: 56px;
}
.drink__form-label3 {
  width: 228px;
  display: inline-block;
  background-color: #F4F1EB;
  border-radius: 8px;
  padding: 32px 28px 84px 28px;
  margin-top: 56px;
}
.drink__form-label4 {
  width: 228px;
  display: inline-block;
  background-color: #F4F1EB;
  border-radius: 8px;
  padding: 32px 28px 84px 28px;
  margin-top: 56px;
}
.drink__form-small-title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  margin-bottom: 28px;
}
.drink__page-right-items {
  margin-top: 88px;
}
.drink__page-right-box-one {
  margin-top: -88px;
}
.drink__form-text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}
.drink__form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.drink__page-right-h2 {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #83888F;
  margin-top: 88px;
}
.drink__page-right-h2::after {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../../img/icon1.svg");
  margin-left: 78px;
  display: inline-block;
  width: 20px;
  height: 21px;
}
.drink__page-right-box {
  margin-left: 125px;
}
.drink__form-input:checked + .drink__form-label {
  background-color: #0E8784;
  color: #fff;
}/*# sourceMappingURL=main.css.map */